.first{

display: flex;

}
.nav{
    float: right;
    display: flex;
    margin: 15px;
}
.naav{
    background-color: #f19201;
    float: right;
    display: flex;
    margin: 15px;
    text-decoration: antiquewhite;
}
.one{
background-image: url("images/image2.png");
height: 400px;
background-repeat: no-repeat;
background-size: cover;

}